<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>Домашняя страница</title>
    </head>
    <body>
    {{.OrderUid}}
    <br />
    {{.TrackNumber}}
     <br />
    {{.Entry}}
     <br />
    {{.Delivery}}
     <br />
    {{.Payment}}
     <br />
    {{.Items}}
     <br />
    {{.Locale}}
     <br />
    {{.InternalSignature}}
     <br />
    {{.CustomerId}}
     <br />
    {{.DeliveryService}}
     <br />
    {{.Shardkey}}
     <br />
    {{.SmId}}
     <br />
    {{.DateCreated}}
     <br />
    {{.OofShard}}
    </body>
</html>